  .picker{
    float:left;
    width: 18%;
    height: 30px;
    border:3px solid;
}
.picker.green{background-color:#9dee63;}
.picker.yellow{background-color:#eee063;}
.picker.blue{background-color:#63d9ee;}
.picker.red{background-color:#ee6363;}
.picker.clear{background-color:#ffffff;}
.pickbar{
    background-color:#ffffff;
    clear:both;
    width: 99%;
    height: 30px;
    border:3px solid;
}
  
  
  
  
  
html, body {
  height: 100%;
  margin: 0;
}
header {
    background-color: #E84340;
    color:#FFF;
    z-index: 3;
}

/* Replace with logo when complete */
h1 {
  font-size: 72px; 
  margin: 10px;
  padding-left: .2em;
  display: inline-block;
}

#lgn{
  float: right;
  height: 50px;
  width: 150px;
  background-color: #333;
  margin: 30px;
  padding-left: .1em;
}

.progressBar {
  position: relative;
  border: 3px solid black;
  background: #fff;
  height: 20px;
  margin: 1%;
  overflow: hidden;
}

.progressBarFill {
  margin: 0px;
  width: 20%;
  height: 100%;
  background: #66FF6D;
}

.progress {
  position: absolute;
  top: 0;
  padding: 0px;
  margin: 0px 1em;
  text-align: left;
  color: black;
}
#canvas {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: red;
}

#content {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
    background-color: #f3f5f6;
}
#sidebar {
  background: #333;
  color: #fff;
  width:25%;
  //flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}


footer {
    background-color: gray;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}
.column {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  flex: 1; 
}

.FlexFill{
  flex:1;
};

/*untested css */

.unselectable{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.line-center{
    margin:0;padding:0 10px;
    background:#f3f5f6; //jsfiddle bg color
    display:inline-block;
}

h2{
    text-align:center;
    position:relative;
    z-index:2;
}
h2:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    //border-top:solid 1px red;
    border-top: 8px double black;
    z-index:-1;
}

.CellContainer
{
    display:inline-block;
    margin-left: -4px;
    width: 16.66%;
    text-align: center;
    padding: 5px 0;
    
}
.Cell{
  border: solid black 1px;
  height: 100px;
  width: 100px;
  background-color: #aabbcc;
}

.CellNumber
{
    font-family:"Menlo", "Lucida Console", Monaco, monospace;
    font-size:24pt;
}

.CellName
{
    font-family:"Helvetica", sans-serif;
    font-weight:lighter;
    font-size:10pt;
    line-height:20px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}


//test of menu sprites
.menu-sprite{
    display:inline-block;
    background-color:transparent;
    background-repeat:no-repeat;
    background-origin:content-box;
    vertical-align:middle;
    text-indent:-999em
}
.menu-sprite{
  background-image:url(https://rawgit.com/Lockewood32/test1/master/static/sprites.png);
  margin-left:auto;
  margin-right:auto;
}
